body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
p{
  line-height: 2;
}
a{
  color: rgb(17, 77, 103);
  font-family: 'Montserrat', sans-serif;
  margin :10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
h1 {
  margin: 50px auto 0 auto;
  font-size: 562.5%; /*we can use 'em'*/
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2.5rem;
  color:#66BFBF;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 5px;

}

h3 {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  color:#E4F9F5;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.music-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.coding-img{
  width: 25%;
  float: left;
  margin-right: 30px
}
.profile-img{
  width: 200px;
}
.programmer{
  font-weight: normal;
}
.skill-row{
  width:50%;

    text-align: left;

  margin:100px auto 150px auto;

}
hr{
  border-color: #EAF6F6;
margin: 50px auto;
  border-width: 5px;
  border-style: dotted none none none;
  float:none;
  width: 10%
}
.intro{
  width:30%;
  margin: auto auto;
}
.contact-message{
  width:40%;
  margin: 40px auto;
}

.contactbutton {
	box-shadow: 7px 6px 36px -10px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:17px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:15px 34px;
	text-decoration:none;
	text-shadow:0px 4px 0px #3d768a;
}
.contactbutton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.contactbutton:active {
	position:relative;
	top:1px;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
